.main{
    padding-top: 7rem;
    @media(max-width:1000px){
        padding-top: 2rem;
    }
    @media(max-width:800px){
        padding-top: 0rem;
    }
    @media(max-width:500px){
        padding-top: 11rem;
    }
    & .container1{
        padding: 3rem 0;
        width: 80%;
        margin: 0 auto;
        display: grid;grid-template-columns: 1fr 1fr 1fr; gap: 3%;
        @media(max-width:500px){
            grid-template-columns: 1fr;
            padding: 5rem 0;
        }
        & .kard{
            display: flex; flex-direction: column; row-gap: 15px; 
            border: 1px solid rgba(114, 114, 194, 0.358); 
            & .kardtext{
                padding:0 2rem ;
            }
            & img{
                width: 100%;
            }
            @media(max-width:500px){
                width: 70%;
                margin: 0 auto;
                
            }
        }
    }
}
