.footerr{
    background-color: #1B1B4D;
    padding: 4rem 0;
    & .container6{
        width: 80%;
        margin: 0 auto;
        padding: 2rem 0;
        padding: 3rem 0;display: grid; grid-template-columns: 3fr 2fr; gap: 5%; align-items: flex-start;
        @media(max-width:1000px){
            grid-template-columns: 1fr; row-gap: 17%; justify-items: center;
        }
        & .footlogo{
            display: flex;flex-direction: column; row-gap: 15%;
        }
        & .ullar{
            display: flex; align-items: center; gap: 15%;
        }
        & .leftfoter{
            display: grid; grid-template-columns: 1fr 1.5fr; gap: 7%; 
            @media(max-width:620px){
                grid-template-columns: 1fr; row-gap: 15%;
            }
            & .ul_icon{
                display: flex; align-items: center; gap: 8%;
                & li{
                    background-color: rgb(86, 96, 203);
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    display: flex;align-items: center; justify-content: center;
                    & i{
                        font-size: 1.6rem;
                        color: wheat;
                        &:hover{
                            color: rgb(72, 189, 148);
                        }
                    }
                }
            }
            & .ulbir{
                display: flex; flex-direction: column; row-gap: 15px;
            }
            & .ulikki{
                display: flex; flex-direction: column; row-gap: 15px;
            }
        }
        & .register{
            display: flex; flex-direction: column; row-gap: 40px;
            & h2{
                color: white;
            }
            & p{
                color: white;
            }
        }
        & a{
            color: rgb(32, 32, 199);
            &:hover{
                color: rgb(202, 183, 183);
            }
        }
    }
}